.login-page{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:10px;
  height:100vh;
  
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:400px;
  gap: 10px;
  border: 2px solid black;
  padding: 50px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Adds a soft shadow */
}

h1{
  font-weight:bold;
  font-family:"Tinos",cursive;
}
.login-form > label{
  font-family: "caveat" ,cursive;
  font-weight: 800;
  font-size: 20px;
}

.login-form > input{
  padding: 10px;
}
