a {
    text-decoration:none;
    color:whitesmoke;
    font-family: "Delius", cursive;
    font-weight: 900;
    font-style: normal;
}

.container{
    background-color:#404040;
    display:flex;
    justify-content:center;
    gap: 30px;
    padding:20px;
}

